.App {
  text-align: center;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: grey;
}

.background{
  background-image: url("./assets/images/32764040255_63f42dc9d8_o.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:400px;
  width: 600px;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#aircrafts {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#aircrafts td, #aircrafts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#aircrafts tr:nth-child(even){background-color: #f2f2f2;}

#aircrafts tr:hover {background-color: #ddd;}

#aircrafts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}