.App {
  text-align: center;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: grey;
}

.background{
  background-image: url("./assets/images/32764040255_63f42dc9d8_o.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:400px;
  width: 600px;
}
